@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
  font-family: 'Fira Sans', sans-serif;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  input[type=submit] {
    width: 100%;
    background-color: rgba(225,135,130,0.75);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(225,135,130,0.75);
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }

  #detalles {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #detalles td, #detalles th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #detalles tr:nth-child(even){
      background-color: #f2f2f2;
    }
  
  #detalles tr:hover {
      background-color: #ddd;
    }
  
  #detalles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(225,135,130,0.75);
    color: white;
  }
  h1{
      text-align:center;
  }
  .back-button {
    background-color: rgba(205,125,125,1); /* #0960C9 */
    color: #ccc;
    display: block;
    font-size: 1.2em;
    font-weight: Bold;
    height: 50px;
    margin: 32px auto;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 24%;
    }
    .back-button:hover {
    background-color: rgba(225,135,130,0.75);
    color: #fff;
    text-decoration: none;
    }